.card-3d {
  border: dashed #D7E2DB;
  background: #f0fbff;
  border-radius: 5px;
  text-align: center;
  padding: 0 30px;
}

.card-3d h4 {
  letter-spacing: 1px;
  font-size: 17px;
  padding-top: 20px;
  font-family: 'Inconsolata', Sans-serif;
}

.shadow-inset {
  box-shadow: 0px -10px #e0ece4 inset;
}

.shadow-inset-pink {
  box-shadow: 0px -15px #f2dede inset;
}

.card-3d ul li {
  padding: 10px 0;
}

.card-3d ul li:first-child {
  padding-top: 20px;
}

.card-3d ul li:last-child {
  padding-bottom:20px;
}

.card-3d .pastille {
  background-color: #e0ece4;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  top: -25px;
  padding-top: 10px;
  right: -8px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bolder;
  border: 3px solid #e0ece4;
  color: #777777;
}
