.banner {
  color: white;
  text-align: center;
  height: calc(40vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-content {
  padding-bottom: 50px;
}

.banner h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 1.2vw;
  font-weight: lighter;
  color: white;
  letter-spacing:3px;
  font-weight:lighter;
  font-family: 'Raleway', Sans-serif;
}

.banner h3 {
  letter-spacing: 2px;
  font-size: 20px;
}
