.button {
  padding: 10px 30px;
  letter-spacing: 1px;
  border-radius: 3px;
  color: white;
  background-color: #546A76;
  border: solid 2px #546A76;
  transition: all ease 0.3s;
  &:hover {
    color: #546A76;
    background-color: white;
  }
}
