.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height:250px;
  color:white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  &:hover {
  opacity: 0.8;
  }
}

.card-description {
  bottom:20px;
  left:10px;
}
