.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  margin: 20px 10px;
  line-height:1.6;
  transition: all 0.3s ease;
}

.card h3 {
  margin-top: 10px;
  font-family: 'Inconsolata', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  color:white!important;
}

.card ul {
  padding: 20px 20px 1px 20px
}

.card p {
  line-height: 1;
  font-style: italic;
  color: $gray!important;
}

.card-banner {
  background-color: $green;
  width:100%;
  border-radius: 4px 4px 0px 0px;
}

/* GENERAL STYLES FOR BOX AND OVERLAY */

.box {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.overlay {
  width: 100%;
  height:100%;
  position: absolute;
  left: 0;
  top: 4px;
  right: 0;
  bottom: 0;
}

.overlay p {
  font-size: 24px;
  letter-spacing: 2px;
}

/* SLIDE UP */

.slide-up .overlay{
  background-color: white;
  color: $gray;
  transform: translateY(100%);
  -webkit-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}

.slide-up .box:hover .overlay{
  transform: translateY(0);
}
