/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.marged {
  margin-top: 1em;
  margin-bottom: 1em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.vertical-align-middle {
  vertical-align:middle;
}

.legend {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1px;
}

.justified {
  text-align: justify;
}

.underlined-white {
  border-bottom: 2px solid white;
}

.underlined-green {
  border-bottom: 1px solid $green;
}

.color-white {
  color:white;
}

h1 {
  font-size: 40px;
  letter-spacing: 1px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

h3 {
  letter-spacing: 1px;
  font-weight: 300;
}

h4 {
  margin-top: 0px;
}

p {
  line-height: 1;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 100;
}

.font-size-50 {
  font-size: 50px;
}

.margin-top-25 {
  margin-top: 25px;
}

.text-shadow-gray {
  text-shadow: 4px 4px 0 #777777;
}

.text-shadow-pink {
  text-shadow: 4px 4px 0 #f2dede;
}

.height {
  height:70px;
}

.horizontal-line {
  width:50px;
  height: 2px;
  margin-bottom: 10px;
}

.flexbox {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.column {
  flex-direction: column;
  justify-content: center;
}
