/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

.vertical-align-middle {
  vertical-align:middle;
}

.legend {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1px;
}

.justified {
  text-align: justify;
}

.color-white {
  color:white;
}

h1 {
  font-size: 40px;
  letter-spacing: 1px;
}

h2 {
  letter-spacing: 2px;
  font-weight: 300;
}

h3 {
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 11px;
}

h4 {
  margin-top: 0px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  color: #546A76;
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.2;
}

.presta-desc {
  color: #93939C;
  letter-spacing: 1px;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 100;
}

.font-size-50 {
  font-size: 50px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-30 {
  margin: 30px 0;
}

.height {
  height:70px;
}

.horizontal-line {
  width:50px;
  height: 2px;
  margin-bottom: 10px;
}

.flexbox {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.vertical-center {
  align-items: center;
}

.column {
  flex-direction: column;
  justify-content: center;
}

.width-15 {
  width: 15%;
}
