---
title: A.f Bois - Développement
---

<div class="height"></div>

<div class="wrapper linear-gray prestations">
  <div class="container">
    <h2 class="text-center">Développement</h2>
    <div class="row margin-top-25">
      <div class="flexbox vertical-center">
        <div class="col-xs-12 col-md-7">
          <h4><span class="shadow-inset">Conseil</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Choix d'une essence de bois en fonction de son emploi</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Revue de conception de fabrication en bois ou mixte</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Suivi de fabrication de prototypes</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Elaboration de plan d'expériences et de qualification</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Analyse de la valeur pour reconcevoir les achats et/ou les produits</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Audit "métier" de reprise d'entreprise</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Veille réglementaire et normative (bois-matériau, mise en oeuvre, etc)</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Recherche de solution techniques innovantes</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Animation de groupe de travail de gestion du changement</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Business plan d'unité de production</p></li>
          </ul>
          <h4><span class="shadow-inset">Formation</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> L'analyse de la valeur</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Règles de conception des menuiseries extérieures</p></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="card-3d">
            <div class="pastille">3D</div>
            <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
            <ul class="list-unstyled">
              <li><i class="fa fa-check" aria-hidden="true"></i> Amélioration de l'isolation thermique</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> "5R" pour économiser la matière première</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Recherche de débouchés pour les sous-produits en bois</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Classes d'emplois / durabilité naturelle des essences</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center margin-top-25">
        <%= image_tag "deve1.jpg", class:"img-presta" %>
        <%= image_tag "deve2.jpg", class:"img-presta" %>
        <%= image_tag "deve3.jpg", class:"img-presta" %>
        <%= image_tag "deve4.jpg", class:"img-presta" %>
      </div>
      <div class="text-center">
        <% link_to "/", class: "btn button" do %>
          <i class="fa fa-home" aria-hidden="true"></i> Retour à l'accueil
        <% end %>
      </div>
    </div>
  </div>
</div>
