---
title: A.f Bois - Mix-Marketing
---

<div class="height"></div>

<div class="wrapper linear-gray prestations">
  <div class="container">
    <h2 class="text-center text-shadow-pink">Mix-Marketing</h2>
    <div class="row margin-top-25">
      <div class="flexbox vertical-center">
        <div class="col-xs-12 col-md-7">
          <h4><span class="shadow-inset">Conseil</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Etude de marché (quantitative ou qualitative)</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Analyse de positionnement prix/produits/canaux, mapping</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> La fenêtre en bois dans le Bassin du Congo</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> La segmentation des marchés</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Complémentarité bois tropicaux et bois métropolitains (issus de la gestion durable des forêts)</p></li>
          </ul>
          <h4><span class="shadow-inset">Formation</span></h4>
          <ul class="list-unstyled">
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Le mix-marketing des nouveautés</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Cycle de vie commercial des collections</p></li>
            <li><p><i class="fa fa-circle" aria-hidden="true"></i> Initiation à l'analyse de la valeur</p></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <div class="card-3d">
            <div class="pastille">3D</div>
            <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
            <ul class="list-unstyled">
              <li><i class="fa fa-check" aria-hidden="true"></i> Définition de méthode de suivi des chaînes de contrôle de bois écocertifiés</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Choix d'essences en gestion soutenable</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Veille concurrentielle des stratégies environnementales</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center margin-top-25">
        <%= image_tag "mark1.png", class:"img-presta" %>
        <%= image_tag "mark2.jpg", class:"img-presta" %>
        <%= image_tag "mark3.png", class:"img-presta" %>
        <%= image_tag "mark4.png", class:"img-presta" %>
      </div>
      <div class="text-center">
        <% link_to "/", class: "btn button" do %>
          <i class="fa fa-home" aria-hidden="true"></i> Retour à l'accueil
        <% end %>
      </div>
    </div>
  </div>
</div>
