---
title: AF BOIS - Production
---

<div class="height"></div>

<div class="wrapper light-gray">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Production</h2>
      <div class="col-xs-12 col-md-8">
        <h3><span class="shadow-inset">Exemple de prestation</span></h3>
        <h4>Conseil</h4>
        <ul>
          <li>Implantation d'atelier de transformation du bois</li>
          <li>Mise en place de démarche qualité : marquage CE, certification NF, écocertification, 5S</li>
          <li>Analyse des méthodes de calcul des coûts de revient, indicateur de rentabilité</li>
          <li>Gestion des flux de production</li>
          <li>Définition du cahier des charges d'acquisition d'équipement de transformation du bois</li>
          <li>Démarrage d'unité de production</li>
          <li>Création de tableaux de bord de gestion de la charge atelier</li>
          <li>Animation de groupe de travail de gestion du changement</li>
          <li>Business plan d'unité de production d'ouvrages en bois</li>
        </ul>
        <h4>Formation</h4>
        <ul>
          <li>Connaissance technique du bois et de ses dérivés</li>
          <li>Processus d'industrialisation des 1ères séries</li>
          <li>Gestion de production</li>
          <li>Sensibilisation à la démarche qualité</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-3d">
          <h4>Démarche de Développement Durable</h4>
          <ul class="list-unstyled">
            <li><i class="fa fa-check" aria-hidden="true"></i> Mise en place de l'écocertification de fabrications à base de bois</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Audit "blanc" de chaîne de contrôle d'approvisionnement de bois écocertifiés</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Dossier ICPE soumise à déclaration</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
