---
title: AF BOIS - Production
---

<div class="height"></div>

<div class="wrapper linear-gray prestations">
  <div class="container">
    <h2 class="text-center">Production</h2>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h3><span class="shadow-inset">Exemple de prestation</span></h3>
        <hr class="hr">
        <h4>Conseil</h4>
        <ul class="list-unstyled">
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Implantation d'atelier de transformation du bois</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Mise en place de démarche qualité : marquage CE, certification NF, écocertification, 5S</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Analyse des méthodes de calcul des coûts de revient, indicateur de rentabilité</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Gestion des flux de production</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Définition du cahier des charges d'acquisition d'équipement de transformation du bois</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Démarrage d'unité de production</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Création de tableaux de bord de gestion de la charge atelier</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Animation de groupe de travail de gestion du changement</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Business plan d'unité de production d'ouvrages en bois</p></li>
        </ul>
        <br>
        <h4>Formation</h4>
        <ul class="list-unstyled">
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Connaissance technique du bois et de ses dérivés</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Processus d'industrialisation des 1ères séries</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Gestion de production</p></li>
          <li><p><i class="fa fa-circle" aria-hidden="true"></i> Sensibilisation à la démarche qualité</p></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-3d">
          <div class="pastille">3D</div>
          <h4><span class="shadow-inset-pink">Démarche de Développement Durable</span></h4>
          <ul class="list-unstyled">
            <li><i class="fa fa-check" aria-hidden="true"></i> Mise en place de l'écocertification de fabrications à base de bois</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Audit "blanc" de chaîne de contrôle d'approvisionnement de bois écocertifiés</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Dossier ICPE soumise à déclaration</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
